.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: rgb(122, 183, 138);
}

  
  header {
    flex: 0 80px;
    background-color: darkolivegreen;

}
  
  .main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #d2ebc9;

}
.form-control {
  border: darkolivegreen;
}  

  footer {
    flex: 0 30px;
    background-color: darkolivegreen;
}
  
  menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}
  .navbar {
    background-color: darkolivegreen;

}
  .navbar-brand {
    padding-left: 0.3em;

  }
  
  menu .nav-item {
    padding: 0 0.3em;

  }
  
  footer a {
    float: right;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }